/*引入字體，一般都會放在最上面，如果是用@的要放在CSS檔案裏面，但是如果用LINK就放在html裡面*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/*標籤基本樣式*/
*,*::before,*::after{
  box-sizing: border-box;
}
img{
  vertical-align: middle; /*中間對齊→就能清除圖片下方2-3px*/
  max-width:100%;
  height: auto;
}

a{
  color: $neutral-900;
  text-decoration: none;
  display: block; /*設定成區塊元素，因為每一行都是獨立*/
  font-weight: 500;
}

body{
  font-family:'Noto Sans TC',serif ;/*設定字體*/
  font-size: 16px;
  line-height: 1.5;/*行高1.5倍*/
  letter-spacing: 0.05rem;/*字體間距*/
 color: $neutral-900;
  /*color: #212529;*/
}


.breadcrumb-item+.breadcrumb-item::before{
    content: "/";
    padding: 0 12px;/*左右間距*/
    color: $neutral-300;
    font-weight: 700px;
}

.breadcrumb-item{
    display: flex;
    font-weight: 500px;
}

.breadcrumb-link{
    color: $neutral-600;
}

@media(max-width:767px){
  .breadcrumb-item+.breadcrumb-item::before{
    padding: 0 8px;/*左右間距*/
    }
  .breadcrumb-item{
    font-size: 14px;
  }
}

.btn{
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer; /*改游標*/
    border: none;
    background-color: transparent;/*透明-transparent*/

}

@media(max-width:576px){
  .btn{
    padding: 8px;
  }


}

.btn-dark{
    background-color: var(--neutral-900);
    color: $neutral-0;
}
.page-item .btn{
    padding: 8px 15px;
    border-radius: 0px;
    font-weight: 400;
}

.page-item .active{
    background-color: $primary-300;
    font-weight: 500;
}



/*page*/
.header{
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week1/about.png);
  background-repeat: no-repeat; /*背景不重複*/
  background-size: cover;/*全面填滿*/
  background-position: center;
  padding: 152px 0 ;  /*(400-96)/2=152px*/
  text-align: center;
}

.eng-title{
  font-size: 28px;
}


@media (max-width:767px) {
  .header{
  padding: 87px 0 ; 
  background-image:url(/Week-3/img03/hero-sm.png);  
    background-size: cover;/*全面填滿*/
  background-position: center;
    text-align: center;
}
  .eng-title{
  font-size: 20px;
}
}



.quote{
border-radius: 12px;
text-align: center;
}

@media(max-width:767px){

.quote{
text-align: left;
}
}
.intro img{
  width: 1076px;
  margin-left: -110px;
  margin-right: -110px;
}/*讓圖片可以比原有的container還要大*/


.section-lined{
  border-bottom: 1px solid $neutral-300;
}

.history-dec{
  border-left: 1px solid $neutral-900;
  padding-left: 8px;
}

.history-list{
  list-style-type: disc;
  padding-left: 24px;
}

/*disc 實心圓
circle 空心圓
square 方塊
disclosure-open 倒三角
disclosure-closed 右三角*/


.concept-item{
  padding-left: 12px;
  border-left: 3px solid $neutral-300;
  list-style-type: none;
}

.bi{
  padding-left: 8px;
  vertical-align: bottom;
}

.footer{
  text-align: center;
}
