<div class="background-primary-200  d-flex justify-center align-center py-24">
        <p class="h4 h5-sm mr-24 mr-sm-16">加入會員取得 9 折優惠</p>
        <button type="button"  class="btn btn-dark ">馬上註冊</button>
    </div>


    <footer class="bg-neutral-100 py-64 py-sm-32">
      <div class="container">
        <nav class=" py-16 d-flex align-center justify-b d-sm-block mb-24"><!--nav 導覽列-->
          <a href="index.html" class="mb-sm-8"> <img src="/assets/images/logo.svg" alt="LOGO"></a>
          <ul class="d-flex d-sm-block px-sm-12">
              <li class="mr-40 me-sm-0 mb-sm-4"><a href="product.html" class="py-12">商品列表</a></li>
              <li class="py-12"><a href="story.html">品牌故事</a></li>
          </ul>
        </nav>
        <div class="bg-neutral-100 py-64 text-sm text-neutral-600 footer">
        <p>Copyright ©2025 URBNSTYLE</p>
        <p>All Rights Reserved.</p>
        </div>
      </div>
    </footer>